.resultPanel{
    padding: 2px;
}

.resultButton{ 
    border: 1.5px solid black;
    border-radius: 4px;

    background-color: orange;

    padding: 0.85vh;

    font-size: 100%;

    cursor: pointer;
}

.resultButton:hover{ 
    background-color: rgb(237, 154, 0);
}

.terminal{
    cursor: not-allowed;
}