.resultPanel{
    padding: 2px;
    width: 100%;
}

.sideContainer {
    resize: horizontal;
    overflow: auto;
    width: 70%;
}

.buttonContainer{
    min-height: 30px;
    max-height: 6%;
}

.resultButton{ 
    border: 1.5px solid black;
    border-radius: 4px;

    background-color: orange;

    font-size: 100%;
    cursor: pointer;
}

.resultButton:disabled{
    cursor: progress;
 }

.resultButton:hover:active{ 
    background-color: rgb(237, 154, 0);
}

#outputContainer{
    height: 100%;
}

#terminal{
    resize: none;
    border: none;
    white-space: pre-line;
    padding-left: 10px;
    padding-right: 10px;
}

.traceImage{
    width: 100%;
}

#codeContainer{
	overflow: hidden;
}