.blockListContainer{
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}

.addBlockButton{
    border: 1px solid salmon;
}

.blockList{
    padding-inline-start: 20px;
}

.title{
    margin: 5px;
}