.blockListContainer{
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}

.addBlockButton{
    border: 1px solid salmon;
}

.blockLeft {
    padding: 7px;
    margin: 6px;
    
    /* border-radius: 50%; */
    background: #aaaaaa;
    
    text-align: center;
}

.blockList{
    padding-inline-start: 20px;
}

.copyDraggable{
    cursor: pointer;
}

.title{
    margin: 5px;
}