.blockListPanel{
    border: 2px solid black;
}

.addBlockButton{
    border: 1px solid salmon;
}

ul.listPanelBlocks > li {
    .listPanelBlocks {
        width: 500px;
        height: 500px;
        line-height: 500px;
        border-radius: 50%;
        font-size: 50px;
        color: #f20606;
        text-align: center;
        background: #000
    }
  }

.copyDraggable{
    cursor: pointer;
}

.title{
    margin: 5px;
}