.blockListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blockListTitle{
    margin: 5px;
}

.blockList{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    flex-grow: 1;
}

.libraryNode {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px;
    margin: 6px;
    min-width: 80px;
    
    border-radius: 8%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background: white;

    cursor: pointer;
    outline:none;
}

.libraryNode.selected{
    border: solid 2px black;
    box-shadow: 1px 1.5px 1.5px grey;
}


.Abstract{
    border-style: dashed;
}

.labelBtn{
    border-radius: 8%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background: white;

    cursor: pointer;
    outline:none;

    position: relative;
    bottom: 0.6vh;
}