.canvasContainer{
    border: 2px solid orange;
    border-radius: 4px;
    
    align-items: center;
    justify-content: end;
    
    height: 99.5%;
    width: 68vw;
}

.canvas{
    aspect-ratio: unset;
}

#canvasHeader {
    height: 9vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    
    border-bottom: 2px solid orange; 
}

/* Rounded sliders */


.switchButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background:transparent;
    padding-left: 5px;
    padding-right: 5px;
    
    height: 100%;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.switchButtonLabel {
    content: '';
    cursor: pointer;
    text-indent: -9999px;
    width: 65%;
    height: 24%;
    
    background: rgb(115, 115, 115);
    display: block;
    border: solid 2px black;
    border-radius: 100px;
    position: relative;
    align-self: center;

    display: flex;
    align-items: center;
}

.switchButtonLabel:after {
    content: '';
    position: absolute;
    left: 3%;
    height: 88%;
    aspect-ratio: 1.0;
    background: #fff;
    border-radius: 16px;
    transition: 0.3s;
}

input:checked + .switchButtonLabel {
    background: #ff7300;
}

input:checked + .switchButtonLabel:after {
    left: 97%;
    transform: translateX(-100%);
    background-color: black;
}

/**** End slider button ****/

#canvasInfo {
    flex-grow: 1;
    text-align: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.imageButton {
    height: 70%;
    
    background: transparent;
    border: none;
    cursor: pointer;
}


