.specInfosContainer{
    width: 20.5vw;   
}

.specInfosTitle{
    margin: 5px;
    align-self: center;
}

.infosContainer{  
    padding: 5px;
    gap: 10px;
    overflow-y: scroll;
    flex-grow: 1;
}

.varContainer{
    padding-top: 4px;
    gap: 6px;
}

.varOptionsContainer{
    gap: 4px;

    padding: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}
