body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.fullSeparator{
  border: solid 1px ;
  border-color: inherit;
  align-self: center;
  /* Need to take into account the padding */
  width: calc(100% + 4px);
  margin-bottom: 5px;
}

.bordered{
  border: 2px solid orange;
  border-radius: 4px;
}

.spaced{
  margin: 2px;
  padding: 2px;
}

.grow{
  flex-grow: 1;
}

.grow3{
  flex-grow: 3;
}

.flex{
  display: flex;
}

.evenly{
  justify-content: space-evenly;
}

alignC{
  align-items: center;
}

.flexC{
  display: flex;
  flex-direction: column;
}